body {
    background-image: url(images/order_bg.png);
}

.container {
    width: 800px;
    height: 700px;
    max-width: 100%;
    float: left;
    margin-top: 100px;
    margin-left: 550px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5%;
    border: solid;
    border-width: 8px;
    border-color: rgba(255,255,255, 0.4);
}

.header {
    margin-top: 55px;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgba(255,255,255,0.6);
    
}
 
label {
    padding-left: 80px;
    font-size: 30px;
    font-family: Rokkitt;
    color: rgba(255,255,255,0.6);
}

input {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10%;
}

iframe {
    float: right;
    padding-right: 30px;
}

button {
    width: 150px;
    height: 40px;
    font-family: Rokkitt;
    text-transform: uppercase;
    margin-left: 60px;

}

button:hover {
    background-color: black;
    color: white;
}


h4 {
    margin-top: 90px;
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-family: Rokkitt;
}

#back {
    margin-top: 80px;
    margin-left: 600px;
}
